* {
    box-sizing: border-box;
}

.header {
    background-color: royalblue;
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 0.2em;
}

html, body {
    height: 100%;
  }
body {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.content {
    flex: 1 0 auto;
}


.btn-cobrar{
    background-color: #ce3553;
    padding: 12px;
    width: 100px;
    border: none;
    border-radius: 4px;
    color: #fff; 
    font-size: 16px;  
}

.footer {
    border: 0.5px solid #ce3553;
    border-radius: 4px;
    width: 100%;
    flex-shrink: 0;
    font-size: 20px;
    padding: 10px;
}